{% extends "home/base.html" %}
{% block content %}
<div class="card">
<h1>LBPP S4</h1>

<p><strong>Owners:</strong> Team Rocket</p>
<p><strong>Admin:</strong> Charu (this is not charu)</p>

<h2>Format Outline</h2>
<ul>
    <li>Pokemon Champion's Nat Dex Draft, with the typical Level 100 Pokemon and 508 EVs. For this, we will use the following Pokemon Showdown Server: <a href="https://champsnatdex.dedyn.io/">https://champsnatdex.dedyn.io/</a></li>
    <li>Z-Moves, Dynamax, and Terastalize are banned.</li>
    <li>Teams will have 10-11 mons of up to 120 Points.</li>
    <li>Teams may only draft 1 Pokemon that costs 2 or less.</li>
    <li>Battles must be completed on a weekly basis with each week's deadline being Sunday 11:59 PM. Failure to meet the battle deadline will result in an automatic forfeit.</li>
</ul>

<h2>Complex &amp; Pok&eacute;mon Specific Rules</h2>
<ul>
    <li>Shell Smash + Blastoise/Mega Blastoise</li>
    <li>Battle Bond + Mega Greninja</li>
    <li>Sing + Mega Raichu Y</li>
    <li>Swords Dance + Mega Lopunny</li>
    <li>Seismic Toss + Mega Kangaskhan</li>
    <li>Shell Smash + Mega Barbaracle</li>
</ul>

<h2>Additional Draft and Free Agency Rules</h2>
<ul>
    <li>The draft will be asynchronous, occurring over the span of a day or two. During the draft, each person will have up to 4 hours to make their pick. It is your prerogative to take all 2 hours, but it would be appreciated if you could pick earlier!! ^-^</li>
    <li>Picks will be made via the discord bot Wiglett. Information on how to use the draft bot can be found here: <a href="https://www.youtube.com/watch?v=r5wZwTkfels&feature=youtu.be">https://www.youtube.com/watch?v=r5wZwTkfels&amp;feature=youtu.be</a></li>
    <li>The draft will be paused between 11PM-7AM.</li>
    <li>Each team has 5 free agents. The free agency period ends at the beginning of Week 5.</li>
    <li>Teams will get 5 free agents and 5 inter-team trades. When dropping/picking mons, the transaction count is based on the number of mons picked up. Each team change will come into effect for the following week after the transaction is made.</li>
</ul>

<h2>Battle Rules and Standings</h2>
<ul>
    <li>The following Smogon clauses are in effect:
        <ul>
            <li>Sleep Clause (certain exceptions exist, for those, refer to item 8; only one pokemon can sleep)</li>
            <li>Evasion Clause</li>
            <li>OHKO Clause</li>
            <li>Endless Battle Clause</li>
        </ul>
    </li>
    <li>Moody, Sand Veil and Snow Cloak are banned.</li>
    <li>Bright Powder, Lax Incense, King's Rock, Focus Band, Razor Fang and Quick Claw are banned.</li>
    <li>Accupressure, Confuse Ray, Flatter, Supersonic, Swagger and Sweet Kiss are banned.</li>
    <li>Battles that go to timer will be decided by who went to timer, the losing coach will have their score lowered to 0 (eg. if the game ends 2-2 then the result will be a 2-0).</li>
    <li>Shed Tail is banned, Pursuit is banned, Last Respects is banned and Revival Blessing is banned. Baton Pass is allowed but cannot be used to pass stats or Substitute.</li>
    <li>There is no Species Clause but you may only bring one of each of your drafted Pok&eacute;mon to a game (eg you may not bring 2 Pikachus) but you can draft Ogerpon-H and Ogerpon-W! Why would you do that, though? ;)</li>
    <li>If more than 1 Pokemon gets slept due to Effect Spore, Relic Song or Dire Claw then it will not result in a loss, otherwise sleep clause is in effect.</li>
    <li>Battle timers can be turned on after 15 minutes by any player.</li>
    <li>Each coach will have 8 battles.
        <p>Tiebreakers:</p>
        <ol>
            <li>Head to head</li>
            <li>Differential</li>
            <li>Number of Losses</li>
            <li>Strength of Victory</li>
        </ol>
    </li>
</ul>
</div>
{% endblock %}
