<div class="card">
<h1>League Bois Pokemon Premier: Season 1</h1>

<h2>Draft Rules</h2>
<ul>
    <li>The draft is randomised and in a snake format (1-14, 14-1 etc.)</li>
    <li>Each coach will draft between 10 and 12 Pok&eacute;mon.</li>
    <li>A coach does not need to spend their full budget and can end their draft after 10 picks.</li>
    <li>Tera Captains will be decided after the draft.</li>
    <li>You only have 120 points to allocate for your team.</li>
</ul>

<h2>Tera Captains</h2>
<ul>
    <li>Teams will have 15 points to spend on Tera Captains.</li>
    <li>Captaining a Pok&eacute;mon costs the same as the price you drafted it for.</li>
    <li>A Tera Captain will have access to 3 Tera Crystals: 1 must be of the same type as the user (1 of 2 STABs if dual type), then any 2 types, including Stellar.</li>
    <li>Teams can assign 2 or 3 Tera Captains and must stay within the 15 point budget.</li>
    <li>You can only Tera captain Pok&eacute;mon costing 9 points and under, with some exceptions.</li>
    <li>Certain Pok&eacute;mon are banned from being made Tera Captains (see the Rules tab of the S1 sheet for the full list).</li>
</ul>

<h2>Free Agency and Trades</h2>
<ul>
    <li>Teams will get 5 changes and 5 inter-team trades, both up until the end of Week 4.</li>
    <li>Coaches will be able to make trades before the draft ends; these do not count as transactions.</li>
    <li>There is a 24 hour grace period with unlimited Free Agency and trading. After it ends, coaches pick their Tera Captains.</li>
    <li>When dropping/picking Pok&eacute;mon, the change count is based on the number of Pok&eacute;mon picked up.</li>
</ul>

<h2>Battle Rules</h2>
<ul>
    <li>Forfeiting during a match is strictly prohibited as it is poor sportsmanship. Forfeits count as a 3-0 win/loss (or more, depending on when it occurs); a forfeit during the final week is a 6-0 loss.</li>
    <li>Battles will be played at Level 100, with all Pok&eacute;mon being Level 100. You must bring 6 Pok&eacute;mon to a battle.</li>
    <li>Ghosting is prohibited; failure to comply results in instant expulsion.</li>
</ul>

<h2>Standings</h2>
<ul>
    <li>Teams will play each other.</li>
    <li>Standings are dictated by number of wins, with the following as tiebreakers (in order): differential, number of losses, head to head, then strength of schedule.</li>
</ul>

<h2>Clauses and Bans</h2>
<ul>
    <li>The following Smogon clauses are in effect: Sleep Clause (certain exceptions apply; only one Pok&eacute;mon can sleep), Evasion Clause, OHKO Clause, Endless Battle Clause.</li>
    <li>Moody, Sand Veil and Snow Cloak are banned.</li>
    <li>Bright Powder, Lax Incense, King's Rock, Focus Band, Razor Fang and Quick Claw are banned.</li>
    <li>Accupressure, Confuse Ray, Flatter, Supersonic, Swagger and Sweet Kiss are banned.</li>
    <li>Battles that go to timer will be decided by who went to timer; the losing coach will have their score lowered to 0 (eg. if the game ends 2-2 then the result will be a 2-0).</li>
    <li>Shed Tail is banned, Last Respects is banned and Revival Blessing is banned. Baton Pass is allowed but cannot be used to pass stats or Substitute. Take Heart is banned on Manaphy. Speed Boost is banned on Blaziken. Sheer Force is banned on Landorus.</li>
    <li>There is no Species Clause but you may only bring one of each of your drafted Pok&eacute;mon to a game (eg you may not bring 2 Pikachus) but you can draft Rotom-C and Rotom-H.</li>
    <li>If more than 1 Pok&eacute;mon gets slept due to Effect Spore, Relic Song or Dire Claw then it will not result in a loss, otherwise sleep clause is in effect.</li>
</ul>
</div>
