<div class="card">
<h1>LBPP S3</h1>

<p><strong>Owners:</strong> Team Rocket</p>
<p><strong>Admin:</strong> Charu</p>

<h2>Format Outline</h2>
<ul>
    <li>Paldea Dex Draft with High-Tier Teras and Low-Tier Ubers!</li>
    <li>Teams will have 10 mons of up to 125 Points, and up to 2 Tera captains of up to 26 Tera Points.</li>
    <li>Tera Captains can Tera to any type! However, before a battle, Tera previews must be enabled. In other words, your opponent will know what your Tera type is during the battle.</li>
    <li>If a mon is designated as a Tera Captain, it costs more, AND that point total will also count against the Tera budget. A team must adhere to both its normal and Tera budgets. E.g., if you draft a Kingambit normally, it is 14 points, and you would have 111 points left and 26 Tera points. If you draft Kingambit as a Tera, it will cost 22 and you will be left with 103 points for the draft and 4 points for your remaining Teras. A Pok&eacute;mon drafted as a Tera does NOT have to Terastallize in the battle.</li>
    <li>Teams may only draft 1 Pok&eacute;mon that costs 2 or less.</li>
    <li>Battles must be completed on a weekly basis with each week's deadline being Sunday 11:59 PM. Failure to meet the battle deadline will result in an automatic forfeit.</li>
</ul>

<h2>Complex &amp; Pok&eacute;mon Specific Rules</h2>
<ul>
    <li>Shell Smash + Blastoise</li>
    <li>Take Heart + Manaphy</li>
</ul>

<h2>Additional Draft and Free Agency Rules</h2>
<ul>
    <li>The draft will be asynchronous, occurring over the span of a day or two. During the draft, each person will have up to 2 hours to make their pick. It is your prerogative to take all 2 hours, but it would be appreciated if you could pick earlier!! ^-^</li>
    <li>Picks will be made via the discord bot Wiglett. Information on how to use the draft bot can be found here: <a href="https://www.youtube.com/watch?v=r5wZwTkfels&feature=youtu.be">https://www.youtube.com/watch?v=r5wZwTkfels&amp;feature=youtu.be</a></li>
    <li>When you want to pick a mon as a Tera, please select the Tera tab on the draft board. You will need to keep track of your pointage, as the Discord bot can't properly account for Teras.</li>
    <li>The draft will be paused between 12AM-9AM.</li>
    <li>Each team has 5 free agents. The free agency period ends EOD February 8th.</li>
    <li>Teams will get 5 free agents and 5 inter-team trades. When dropping/picking mons, the transaction count is based on the number of mons picked up.</li>
    <li>Teams will be allowed to reallocate Teras between Pok&eacute;mon on the team already 3 times. If Tera is dropped from a mon, it cannot be reassigned that ability.</li>
    <li>FA and inter-team trades do not count until the following week. (Note: FA changes for the Week 1 battle will count if made 7 days before scheduled battle time.)</li>
    <li>Regardless of when a trade or transaction is made, teams need to ensure that after all immediate transactions resolve, their roster still adheres to all draft rules. Otherwise, the trade will be nullified.</li>
    <li>Trades should only include Pok&eacute;mon-based bargaining chips.</li>
</ul>

<h2>Battle Rules and Playoffs</h2>
<ul>
    <li>We will use Tera preview; i.e., you will know what your opponent can Tera their captains into.</li>
    <li>Battles will be played at Level 100, with all Pok&eacute;mon being Level 100. 6 Pok&eacute;mon must be brought to the battle.</li>
    <li>Battles must occur each week, otherwise ff.</li>
    <li>The following Smogon clauses are in effect:
        <ul>
            <li>Sleep Clause (certain exceptions exist, for those, refer to item 8; only one pokemon can sleep)</li>
            <li>Evasion Clause</li>
            <li>OHKO Clause</li>
            <li>Endless Battle Clause</li>
        </ul>
    </li>
    <li>Moody, Sand Veil and Snow Cloak are banned.</li>
    <li>Bright Powder, Lax Incense, King's Rock, Focus Band, Razor Fang and Quick Claw are banned.</li>
    <li>Accupressure, Confuse Ray, Flatter, Supersonic, Swagger and Sweet Kiss are banned.</li>
    <li>Battles that go to timer will be decided by who went to timer, the losing coach will have their score lowered to 0 (eg. if the game ends 2-2 then the result will be a 2-0).</li>
    <li>Shed Tail is banned, Last Respects is banned and Revival Blessing is banned. Baton Pass is allowed but cannot be used to pass stats or Substitute.</li>
    <li>There is no Species Clause but you may only bring one of each of your drafted Pok&eacute;mon to a game (eg you may not bring 2 Pikachus) but you can draft Ogerpon-H and Ogerpon-W! Why would you do that, though? ;)</li>
    <li>If more than 1 Pokemon gets slept due to Effect Spore, Relic Song or Dire Claw then it will not result in a loss, otherwise sleep clause is in effect.</li>
    <li>Battle timers can be turned on after 15 minutes, regardless.</li>
    <li>Each coach will have 11 battles.
        <p>Tiebreakers:</p>
        <ol>
            <li>Head to head</li>
            <li>Differential</li>
            <li>Number of Losses</li>
            <li>Strength of Victory</li>
        </ol>
    </li>
    <li>The Knockouts will be 8-team single elimination. The bottom 4 teams will be eliminated. The 1st-4th place teams will be allowed to pick their playoff round 1 opponents from among the 5th-8th place teams.</li>
</ul>
</div>
